body {
  font-family: "Avenir Next";
}
.header a {
  color: #fff;
  height: 100px;
  float: right;
  font-size: 36:
    padding: 20px 40px;
  background color: blue;
}
.main {
  padding top: 80px;
  background color: blue;
}
.Judul {
  font-family:"Britannic Bold";
  font-size: 20px;
}
.Isi P {
  font-family:"Arabic Typesetting";
  font-size: 45px;
.footer {
  padding: 20px 40px;
  float: right;
  font-size: 36:
}

