body {
  font-family: "Avenir Next";
  background color: blue;
}
.header {
  color: #fff;
  height: 90px;
  float: right;
  font-size: 36:
    padding: 20px 40px;
  font-family:"Britannic Bold";
}
.main {
  font-family:"Arabic Typesetting";
  font-size: 40px;
}
.footer {
  padding: 20px 40px;
  float: right;
  font-size: 36:
}

